.header{
    position: fixed;
    z-index: 7;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 198, 58);
    padding: 0 8%;
    box-sizing: border-box;
}



.brand{
    color: #fff;
    text-decoration: none;
    font-family: fantasy;
}
.brand span{
    color: crimson;
}
.img-section{
    margin-top: 80px;
    height: 40vh;
    width: 100%;
    background-image: url(../../assets/images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

