.mealCard {
  width: 23%;
  margin: 10px 0;
  padding: 25px 25px 160px;
  border-radius: 12px;
  text-align: center;
  background-color: rgb(99, 164, 29);
  box-shadow: rgba(66, 74, 66, 0.238) 0px 7px 29px 0px;
  color: #fff;
  overflow: hidden;
  position: relative;
}
.mealCard h1{
  margin-top: 7px;
}
